<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gv.steel.system.base.dao.CrosscutRequireDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gv.steel.system.base.entity.CrosscutRequire">
        <result column="id" property="id"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="delete_flag" property="deleteFlag"/>
        <result column="version" property="version"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="table_name" property="tableName"/>
        <result column="table_id" property="tableId"/>
        <result column="thickness_tolerance" property="thicknessTolerance"/>
        <result column="width_tolerance" property="widthTolerance"/>
        <result column="hardness" property="hardness"/>
        <result column="burr" property="burr"/>
        <result column="side_wave" property="sideWave"/>
        <result column="package_weight" property="packageWeight"/>
        <result column="diagonal" property="diagonal"/>
        <result column="remark" property="remark"/>
        <result column="weighing_way" property="weighingWay"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        ,
                    create_by,
                    create_time,
                    update_by,
                    update_time,
                    delete_flag,
                    version,
                    tenant_id,
                table_name, table_id, thickness_tolerance, width_tolerance, hardness, burr, side_wave, package_weight, diagonal, remark,weighing_way
    </sql>
    <!-- 通用where查询条件 -->
    <sql id="where">
        <where>
            <if test="id != null and id != ''">
                and id = #{id}
            </if>
            <if test="createBy != null and createBy != ''">
                and create_by = #{createBy}
            </if>
            <if test="createTime != null and createTime != ''">
                and create_time = #{createTime}
            </if>
            <if test="updateBy != null and updateBy != ''">
                and update_by = #{updateBy}
            </if>
            <if test="updateTime != null and updateTime != ''">
                and update_time = #{updateTime}
            </if>
            <if test="deleteFlag != null and deleteFlag != ''">
                and delete_flag = #{deleteFlag}
            </if>
            <if test="version != null and version != ''">
                and version = #{version}
            </if>
            <if test="tenantId != null and tenantId != ''">
                and tenant_id = #{tenantId}
            </if>
        </where>
    </sql>
    <!-- 条件where查询条件 -->
    <sql id="condition">
        <where>
            <if test="tableName != null and tableName != ''">
                and table_name = #{tableName}
            </if>
            <if test="tableId != null and tableId != ''">
                and table_id = #{tableId}
            </if>
            <if test="thicknessTolerance != null and thicknessTolerance != ''">
                and thickness_tolerance = #{thicknessTolerance}
            </if>
            <if test="widthTolerance != null and widthTolerance != ''">
                and width_tolerance = #{widthTolerance}
            </if>
            <if test="hardness != null and hardness != ''">
                and hardness = #{hardness}
            </if>
            <if test="burr != null and burr != ''">
                and burr = #{burr}
            </if>
            <if test="sideWave != null and sideWave != ''">
                and side_wave = #{sideWave}
            </if>
            <if test="packageWeight != null and packageWeight != ''">
                and package_weight = #{packageWeight}
            </if>
            <if test="diagonal != null and diagonal != ''">
                and diagonal = #{diagonal}
            </if>
            <if test="remark != null and remark != ''">
                and remark = #{remark}
            </if>
            <if test="weighingWay != null and weighingWay != ''">
                and weighing_way = #{weighingWay}
            </if>
        </where>
    </sql>
</mapper>
