<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gv.steel.system.base.dao.MaterialQualityLangDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gv.steel.system.base.entity.MaterialQualityLang">
        <result column="id" property="id"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="delete_flag" property="deleteFlag"/>
        <result column="version" property="version"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="material_quality_id" property="materialQualityId"/>
        <result column="lang" property="lang"/>
        <result column="label" property="label"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
                    create_by,
                    create_time,
                    update_by,
                    update_time,
                    delete_flag,
                    version,
                    tenant_id,
                material_quality_id, lang, label
    </sql>
    <!-- 通用where查询条件 -->
    <sql id="where">
        <where>
            <if test="id != null and id != ''">
                and id = #{id}
            </if>
            <if test="createBy != null and createBy != ''">
                and create_by = #{createBy}
            </if>
            <if test="createTime != null and createTime != ''">
                and create_time = #{createTime}
            </if>
            <if test="updateBy != null and updateBy != ''">
                and update_by = #{updateBy}
            </if>
            <if test="updateTime != null and updateTime != ''">
                and update_time = #{updateTime}
            </if>
            <if test="deleteFlag != null and deleteFlag != ''">
                and delete_flag = #{deleteFlag}
            </if>
            <if test="version != null and version != ''">
                and version = #{version}
            </if>
            <if test="tenantId != null and tenantId != ''">
                and tenant_id = #{tenantId}
            </if>
        </where>
    </sql>
    <!-- 条件where查询条件 -->
    <sql id="condition">
        <where>
            <if test="materialQualityId != null and materialQualityId != ''">
                and material_quality_id = #{materialQualityId}
            </if>
            <if test="lang != null and lang != ''">
                and lang = #{lang}
            </if>
            <if test="label != null and label != ''">
                and label = #{label}
            </if>
        </where>
    </sql>
</mapper>
