<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gv.steel.system.base.dao.NoticeReadDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gv.steel.system.base.entity.NoticeRead">
        <id column="notice_id" property="noticeId"/>
        <result column="notice_id" property="noticeId"/>
        <result column="user_id" property="userId"/>
        <result column="read_flag" property="readFlag"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        notice_id, user_id, read_flag
    </sql>
    <!-- 通用where查询条件 -->
    <sql id="where">
        <where>
        </where>
    </sql>
    <!-- 条件where查询条件 -->
    <sql id="condition">
        <where>
            <if test="noticeId != null and noticeId != ''">
                and notice_id = #{noticeId}
            </if>
            <if test="userId != null and userId != ''">
                and user_id = #{userId}
            </if>
            <if test="readFlag != null and readFlag != ''">
                and read_flag = #{readFlag}
            </if>
        </where>
    </sql>
</mapper>
